# OpenAI
OPENAI_API_KEY=sk-...
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o

# Pinecone — índice productivo, no cambiar
PINECONE_API_KEY=pcsk_...
PINECONE_INDEX_NAME=api-rag-mvp
PINECONE_HOST=https://api-rag-mvp-96gaajy.svc.aped-4627-b74a.pinecone.io

# Chunking
CHUNK_SIZE=800
CHUNK_OVERLAP=150

# RAG
TOP_K=8
MIN_SCORE=0.70

# API (Render)
API_HOST=0.0.0.0
API_PORT=8000
RENDER_SERVICE_ID=srv-d5rr9a63jp1c73e1fibg
